legend {
    color: skyblue;
    text-shadow: black 1px 1px;
    font-size: large;
}

#arsenii_lox {
    color: green;
    font-size: 200%;
}

label {
    color: red;
}

.y_tebia_sdoxla_matb {
    background-color: rgb(163, 151, 134);
}